@import '../../App/main.scss';
@import '../../App/variables.scss';

@media (max-width: 768px) {

    header {
        .uswapp-header {
            padding: 10px;
            justify-content: space-between;

            .uswapp-logo {

                img {
                    padding-top: 0.5rem;
                }
            }

            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 4;
                opacity: 0;
                visibility: hidden;
                transition: opacity 350ms ease-in-out;

                &-visible {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .responsive-menu {
                width: 80%;
                height: 100%;
                position: fixed;
                z-index: 5;
                top: 0;
                right: -105%;
                background-color: rgba(255, 255, 255, 0.7);
                backdrop-filter: blur(7px);
                border-radius: 5px;
                overflow-x: hidden;
                transition: all 350ms ease-in-out;
                padding-top: 100px;

                &-close {
                    right: 0;
                    transition: all, 1s ease-in-out;
                }

                .close-hamburger-btn {
                    position: absolute;
                    top: 15px;
                    right: 25px;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    border-radius: 0;
                    background: none;
                    border: none;

                    svg {
                        height: 2rem;
                        width: 2rem;
                        color: $color1;
                        margin-top: 5px;
                    }
                }

                .user-contents {
                    flex-direction: column;
                    position: relative;

                    .user-log {
                        margin-top: 1rem;

                        .account {
                            margin-top: 0;
                            gap: 5px;
                        }

                        .user-icon {
                            width: 4rem;
                            height: 4rem;

                            svg {
                                width: 3rem;
                                height: 3rem;
                                margin-left: 8px;
                            }
                        }

                        .username {
                            font-size: 1rem;
                        }

                        .user-mail {
                            font-size: 1rem;
                        }
                    }

                    .product-btns {
                        button {
                            height: 2.5rem;
                            margin-top: 3rem;
                            font-size: 20px;

                            &:last-child {
                                margin-top: 2rem;
                            }
                        }
                    }

                    .notifications {
                        margin-top: 3rem;

                        .notifications-icon {
                            svg {
                                width: 2rem;
                                height: 2rem;
                            }
                        }

                    }

                    .settings {
                        margin-top: 3rem;

                        .settings-icon {
                            svg {
                                width: 2rem;
                                height: 2rem;
                            }
                        }
                    }

                    .lang-content {
                        padding-top: 0;
                        margin-top: 3rem;
                        flex-basis: 100px;
                        text-align: center;
                        margin-right: 1rem;

                        .change-lang {

                            svg {
                                width: 2rem;
                                height: 1.5rem;
                            }
                        }

                        div {
                            display: flex;
                            flex-direction: column;
                            margin-right: 2.5rem;
                        }

                        .viewed-flag {
                            width: 2.5rem;
                            height: 2.5rem;
                        }

                        div {

                            .selected-flag {
                                width: 2.5rem;
                                height: 2.5rem;
                            }

                            .unselected-flag {
                                width: 2.5rem;
                                height: 2.5rem;
                            }
                        }
                    }

                    .theme-content {
                        margin-top: 3rem;
                        margin-bottom: 0;

                        .change-theme {
                            display: inline-block;
                            height: fit-content;

                            .theme-label {
                                font-size: 17px;
                                position: relative;
                                display: inline-block;
                                width: 64px;
                                height: 30px;
                            }

                            .theme-label input {
                                opacity: 0;
                                width: 0;
                                height: 0;
                            }

                            .theme-slider {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: #73C0FC;
                                transition: .4s;
                                border-radius: 30px;
                            }

                            .theme-slider:before {
                                position: absolute;
                                content: "";
                                height: 25px;
                                width: 25px;
                                border-radius: 20px;
                                left: 2px;
                                bottom: 2px;
                                z-index: 2;
                                background-color: #e8e8e8;
                                transition: .4s;
                            }

                            .sun svg {
                                position: absolute;
                                top: 6px;
                                left: 36px;
                                z-index: 1;
                                width: 24px;
                                height: 20px;
                                animation: rotate 15s linear infinite;
                            }

                            .moon svg {
                                fill: #73C0FC;
                                position: absolute;
                                top: 5px;
                                left: 5px;
                                z-index: 1;
                                width: 24px;
                                height: 20px;
                                animation: tilt 5s linear infinite;
                            }

                            @keyframes rotate {

                                0% {
                                    transform: rotate(0);
                                }

                                100% {
                                    transform: rotate(360deg);
                                }
                            }

                            @keyframes tilt {

                                0% {
                                    transform: rotate(0deg);
                                }

                                25% {
                                    transform: rotate(-10deg);
                                }

                                75% {
                                    transform: rotate(10deg);
                                }

                                100% {
                                    transform: rotate(0deg);
                                }
                            }

                            .checked-input:checked+.theme-slider {
                                background-color: #183153;
                            }

                            .checked-input:focus+.theme-slider {
                                box-shadow: 0 0 1px #183153;
                            }

                            .checked-input:checked+.theme-slider:before {
                                transform: translateX(35px);
                            }
                        }
                    }
                }

                .log-out {
                    position: absolute;
                    bottom: 5%;
                    right: 2rem;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .logout-icon {
                        margin-left: 1rem;

                        svg {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
                }
            }

            .searchbox {
                width: 50%;

                input {
                    height: 25px;
                    font-size: 11px;
                    padding-left: 20px;
                }

                span {
                    svg {
                        width: 1rem;
                        height: 1rem;
                        margin-top: 4px;
                        margin-left: 3px;
                    }
                }
            }

            .searchbox.active {
                width: 50%;
            }

            .more-btn {
                background: none;
                color: #183153;
                border: none;

                svg {
                    width: 22px;
                    height: 22px;
                }
            }

            .scroll-to-top-btn {
                bottom: 1rem;
                right: auto;
            }
        }
    }

    section {
        .slider-container {
            margin-top: 4%;
            position: relative;

            .slick-prev-btn {
                position: absolute;
                background: none;
                border: none;
                top: 5px;
                left: 5px;
                color: $color1;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            .slick-next-btn {
                position: absolute;
                background: none;
                border: none;
                top: 5px;
                right: 5px;
                color: $color1;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            .slick-slider {
                z-index: -2;

                .slick-list {
                    .slick-track {
                        >div {
                            >div {
                                >div {
                                    display: flex !important;
                                    flex-direction: column;
                                    gap: 10px;

                                    >span {
                                        text-align: center;

                                        svg {
                                            width: 20px;
                                            height: 20px;
                                        }
                                    }

                                    >span+span {
                                        font-size: 14px;
                                        color: #333333;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section {
        .products-container {
            margin-top: 3rem;

            .product-categories-title {
                margin-left: 20px;
                font-size: 1.5rem;
            }

            .slider-container {
                margin-top: 4%;

                .slick-prev-btn {
                    left: 2px;
                    font-size: 25px;
                }

                .slick-next-btn {
                    right: 3px;
                    font-size: 25px;
                }

                .slick-slider {
                    .slick-list {
                        .slick-track {
                            >div {
                                >div {
                                    .product-container {
                                        div {
                                            svg {
                                                width: 100px;
                                                height: 100px;
                                            }
                                        }

                                        h3 {
                                            font-size: 17px;
                                        }

                                        p {
                                            font-size: 14px;
                                        }

                                        button {
                                            width: 85%;
                                            height: 2rem;
                                            font-size: 11px;
                                            margin-left: 10px;

                                            svg {
                                                width: 10px;
                                                height: 10px;

                                            }
                                        }

                                        &:first-child {
                                            margin-left: 2rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    section {
        .info-container {
            margin-left: 5%;
            margin-right: 5%;

            .short-info-about-project {
                font-size: 18px;
                padding-top: 30px;
                padding-bottom: 10px;
            }

            .short-info-about-aim {
                font-size: 18px;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }

    footer {
        .uswapp-footer {

            .uswapp-contact-us {
                margin-left: 15%;

                &-title {

                    span {
                        margin-top: 36%;
                    }
                }
            }

            .uswapp-live-support {
                margin-left: 20%;
            }

            .uswapp-mobile-apps {
                margin-left: 15%;

                &-title {
                    gap: 7px;
                }

                .app-store {
                    width: 120px;
                }

                .google-play-store {
                    width: 120px;
                }

                .app-gallery-huawei {
                    width: 120px;
                }
            }

            .uswapp-help {
                margin-left: 20%;
            }
        }

        .uswapp-privacy {

            .all-rights {
                font-size: 13px;
            }

            .privacy-policy {
                font-size: 13px;
            }
        }
    }

    .login-and-signup-container {
        .entries-project-logo {
            top: 5%;
            left: 35%;

            img {
                width: 150px;
                height: 200px;
            }
        }

        .entries-container {
            .login-container {
                top: 35%;
                left: 35%;

                .tab {
                    font-size: 18px;
                }
            }

            .login-form {
                top: 40%;
                left: 30%;

                .group {
                    .user {
                        font-size: 13px;
                    }

                    .password {
                        font-size: 13px;
                    }

                    .email {
                        font-size: 13px;
                    }

                    .input-log-sign {
                        padding: 12px 17px;
                    }

                    .keep-login-confirmator {
                        font-size: 14px;
                    }
                }

                .login-btn {
                    padding: 12px 17px;
                    font-size: 17px;
                    font-weight: 600;
                    margin-top: 18px;
                    letter-spacing: 0.5px;
                }

                .forgot-password {
                    font-size: 15px;
                    margin-right: 5px;
                }
            }

            .signup-container {
                top: 40%;
                left: 15%;

                .signup-form {
                    .group {
                        .user {
                            font-size: 13px;
                        }

                        .password {
                            font-size: 13px;
                        }

                        .repeat-password {
                            font-size: 13px;
                        }

                        .email {
                            font-size: 13px;
                        }

                        .gender {
                            font-size: 13px;
                        }

                        .address {
                            font-size: 13px;
                        }

                        .contact-num {
                            font-size: 13px;
                        }

                        .input-log-sign {
                            padding: 12px 17px;
                        }
                    }

                    .signup-btn {
                        padding: 12px 17px;
                        font-size: 17px;
                        font-weight: 600;
                        letter-spacing: 0.5px;
                        margin-top: 0;
                        position: absolute;
                        width: 50%;
                        right: -10%;
                        bottom: 12%;
                    }

                    .already-member {
                        margin-top: 10px;
                    }
                }
            }


            .hr {
                margin: 10px 20px 0 2rem;
            }
        }
    }

    section {
        .product-add-container {

            .product {
                margin-left: 1.5rem;

                div {
                    label {
                        font-size: 17px;
                        margin-bottom: 12px;
                    }

                    textarea {
                        margin-right: 0.5rem;
                    }
                }
            }

            .add {
                gap: 12px;

                &-photo-btn {
                    font-size: 18px;

                    .camera-icon {
                        svg {
                            width: 17px;
                            height: 17px;
                        }
                    }
                }

                &-product-btn {
                    font-size: 19px;
                    gap: 5px;
                    height: 2.5rem;

                    .add-icon {
                        svg {
                            width: 14px;
                            height: 14px;
                        }
                    }
                }
            }
        }
    }

    section {
        .user-profile {
            gap: 2rem;

            &-icon {
                span {
                    svg {
                        width: 75px;
                        height: 75px;
                    }
                }
            }

            &-detail {
                p {
                    >span {
                        font-size: 21px;
                    }

                    >span+span {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .error-container {

        &-first {
            h1 {
                font-size: 2rem;
            }

            .error-404 {
                &-icon {
                    width: 4rem;
                    height: 4rem;
                }
            }

            .page-not-found {
                font-size: 26px;
            }
        }

        &-second {
            .exclamation {
                &-icon {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }

            h2 {
                font-size: 1.5rem;
            }

            .error-reason {
                font-size: 20px;
                text-align: center;
                margin-left: 0;
                line-height: 1.5rem;
            }
        }

        .exit-btns-from-error-page {
            width: 75%;
            margin-top: 2rem;

            .go-back-btn {
                font-size: 1rem;
                font-weight: 600;
                padding-left: 1rem;

                &-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    left: 10px;
                    bottom: 11px;
                }
            }

            .go-to-home-page-btn {
                font-size: 1rem;
                font-weight: 600;
                padding-left: 22px;

                &-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                    left: 10px;
                    bottom: 12px;
                }
            }
        }
    }

    section {
        .product-view-container {
            .product-view {
                &-images {
                    grid-template-columns: repeat(3, 1fr);
                    gap: 0;

                    .view-more-plus-icon {
                        position: absolute;
                        top: 7px;
                        right: 7px;

                        svg {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }

                &-info {
                    margin-left: 1.5rem;

                    div {
                        >span {
                            font-size: 20px;
                        }

                        >span+span {
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
}