@import '../../App/main.scss';
@import '../../App/variables.scss';

@media(max-width: 1440px) {
    header {
        .uswapp-header {

            .lang-and-theme-container {
                gap: 4rem;

                .lang-content {
                    margin-right: 0;

                    .change-lang {
                        margin-right: 5px;

                        svg {
                            width: 1.5rem;
                            height: 25px;
                        }
                    }
                }

                .theme-content {
                    margin-bottom: 3px;

                    .change-theme {
                        .theme-label {
                            width: 55px;
                            height: 25px;
                        }

                        .theme-slider:before {
                            height: 20px;
                            width: 20px;
                        }

                        .sun svg {
                            top: 4px;
                            left: 32px;
                            width: 20px;
                            height: 18px;
                        }

                        .moon svg {
                            top: 4px;
                            left: 3px;
                            width: 20px;
                            height: 18px;

                        }

                        .checked-input:checked+.theme-slider:before {
                            transform: translateX(30px);
                        }
                    }
                }
            }

            .user-contents {
                flex-basis: 300px;

                .notifications {

                    .notifications-icon {
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .notifications-text {
                        font-size: 14px;

                    }
                }

                .settings {

                    .settings-icon {
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .settings-text {
                        font-size: 14px;
                    }
                }

                .user-log {

                    .account {

                        .user-icon {
                            width: 2rem;
                            height: 2rem;

                            svg {
                                width: 1.5rem;
                                height: 1.5rem;
                                margin-top: 3px;
                            }
                        }

                        .username {
                            font-size: 14px;
                        }

                        .user-mail {
                            font-size: 14px;
                        }
                    }
                }

                .log-out {

                    .logout-icon {

                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .logout {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    section {

        .product-categories {
            margin-top: 3%;

            >div {

                >span {

                    svg {
                        width: 28px;
                        height: 28px;
                    }
                }

                >span+span {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
    }

    section {
        .products-container {
            margin-top: 4rem;

            .product-categories-title {
                margin-left: 28px;
            }

            .slider-container {

                .slick-prev-btn {
                    font-size: 28px;
                }

                .slick-next-btn {
                    font-size: 28px;
                    right: 0;
                }

                .slick-slider {
                    .slick-list {
                        .slick-track {
                            >div {
                                >div {
                                    .product-container {
                                        div {
                                            svg {
                                                width: 200px;
                                                height: 200px;
                                            }
                                        }

                                        h3 {
                                            font-size: 22px;
                                        }

                                        p {
                                            font-size: 19px;
                                        }

                                        button {
                                            height: 36px;
                                        }

                                        &:first-child {
                                            margin-left: 44px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    footer {
        .uswapp-footer {
            padding: 80px;

            .uswapp-about-us {
                margin-right: 6%;

                &-title {
                    gap: 0;
                    line-height: 20px;
                }
            }

            .uswapp-contact-us {
                margin-right: 6%;

                &-title {
                    gap: 5px;

                    h4 {
                        margin-top: 65px;
                    }

                    span {
                        margin-top: 25%;
                    }
                }

                .contact-btns {
                    gap: 1.5rem;
                }
            }

            .uswapp-live-support {
                &-title {
                    width: max-content;
                    gap: 10px;
                }
            }

            .uswapp-social-media {
                margin-right: 6%;
                margin-left: 6%;

                h4 {
                    margin-bottom: 35px;
                    line-height: 20px;
                }

                &-icons {

                    a {
                        margin-left: 1rem;
                        width: 27px;
                        height: 27px;

                        svg {
                            width: 17px;
                            height: 17px;
                        }

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }

            .uswapp-mobile-apps {

                &-title {
                    width: max-content;
                    gap: 7px;
                }

                img {
                    margin-bottom: 1rem;
                }
            }

            .uswapp-help {
                margin-top: 8px;
                margin-left: 6%;

                p {
                    margin-bottom: 20px;
                    line-height: 18px;
                }
            }
        }
    }

    .login-and-signup-container {
        .entries-project-logo {
            top: 20%;
            left: 15%;

            img {
                width: 250px;
                height: 300px;
            }
        }

        .entries-container {
            .login-container {
                top: 10%;
                left: 60%;

                .tab {
                    font-size: 20px;
                }
            }

            .login-form {
                top: 15%;
                left: 60%;

                .group {
                    margin-bottom: 10px;

                    .user {
                        font-size: 14px;
                    }

                    .password {
                        font-size: 14px;
                    }

                    .email{
                        font-size: 14px;
                    }

                    .input-log-sign {
                        padding: 13px 18px;
                    }
                }

                .login-btn {
                    padding: 13px 18px;
                    font-size: 18px;
                    margin-top: 22px;
                }

                .forgot-password {
                    margin-top: 1rem;
                    margin-left: 2rem;
                }
            }

            .signup-container {
                top: 15%;
                left: 50%;

                .signup-form {
                    .group {
                        margin-bottom: 10px;

                        .user {
                            font-size: 14px;
                        }

                        .password {
                            font-size: 14px;
                        }

                        .repeat-password {
                            font-size: 14px;
                        }

                        .email {
                            font-size: 14px;
                        }

                        .gender{
                            font-size: 14px;
                        }

                        .address{
                            font-size: 14px;
                        }

                        .contact-num{
                            font-size: 14px;
                        }

                        .input-log-sign {
                            padding: 13px 18px;
                        }
                    }

                    .signup-btn {
                        padding: 13px 18px;
                        font-size: 18px;
                        margin-top: 22px;
                    }

                    .already-member {
                        margin-top: 18px;
                    }
                }
            }

            .hr {
                margin: 30px 0 0 1.5rem;
            }
        }
    }

    section {
        .product-add-container {
            label {
                letter-spacing: 0.5px;
            }
        }
    }
}