@import '../../App/main.scss';
@import '../../App/variables.scss';

@media (max-width: 992px) {

    header {

        .uswapp-header {
            padding: 5px;

            .uswapp-logo {

                img {
                    width: 75px;
                    height: 75px;
                }
            }

            .searchbox {

                input {
                    height: 30px;
                    font-size: 13px;
                    padding-left: 2rem;
                }

                span {
                    svg {
                        width: 18px;
                        height: 18px;
                        margin-top: 6px;
                    }
                }
            }

            .lang-and-theme-container {
                gap: 2rem;

                .lang-content {

                    .change-lang {
                        margin-right: 5px;

                        svg {
                            width: 20px;
                            height: 23px;
                        }
                    }

                    .viewed-flag {
                        width: 28px;
                        height: 28px;
                    }

                    div {

                        span {
                            .selected-flag {
                                width: 28px;
                                height: 28px;
                            }

                            .unselected-flag {
                                width: 28px;
                                height: 28px;
                            }
                        }
                    }
                }

                .theme-content {
                    margin-bottom: 7px;

                    .change-theme {
                        .theme-label {
                            width: 50px;
                            height: 23px;
                        }

                        .theme-slider:before {
                            height: 18px;
                            width: 18px;
                        }

                        .sun svg {
                            left: 29px;
                            width: 18px;
                            height: 16px;
                        }

                        .moon svg {
                            width: 18px;
                            height: 16px;

                        }

                        .checked-input:checked+.theme-slider:before {
                            transform: translateX(28px);
                        }
                    }
                }
            }

            .user-contents {
                flex-basis: 250px;

                .notifications {
                    margin-top: 5px;

                    .notifications-icon {
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .notifications-text {
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }

                .settings {
                    margin-top: 5px;

                    .settings-icon {
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .settings-text {
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }

                .user-log {

                    .account {
                        margin-top: 3px;

                        .user-icon {
                            width: 1.5rem;
                            height: 1.5rem;

                            svg {
                                width: 1rem;
                                height: 1rem;
                            }
                        }

                        .username {
                            font-size: 12px;
                        }

                        .user-mail {
                            font-size: 12px;
                        }
                    }
                }

                .log-out {

                    .logout-icon {
                        margin-top: 5px;

                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    .logout {
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    section {

        .product-categories {

            >div {

                >span {

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                >span+span {
                    font-size: 14px;
                }
            }
        }
    }

    section {
        .products-container {
            margin-top: 3.5rem;

            .product-categories-title {
                margin-left: 1.5rem;
                font-size: 26px;
            }

            .slider-container {
                .slick-prev-btn {
                    left: 5px;
                    font-size: 25px;
                }

                .slick-next-btn {
                    right: 6px;
                    font-size: 25px;
                }

                .slick-slider {
                    .slick-list {
                        .slick-track {
                            >div {
                                >div {
                                    .product-container {
                                        h3 {
                                            font-size: 19px;
                                        }

                                        p {
                                            font-size: 1rem;
                                        }

                                        button {
                                            font-size: 13px;

                                            svg {
                                                width: 11px;
                                                height: 11px;

                                            }
                                        }

                                        &:first-child {
                                            margin-left: 50px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    section {
        .info-container {
            margin: 12% 7% 12% 7%;

            .short-info-about-project {
                font-size: 20px;
                padding-top: 35px;
                padding-bottom: 12px;
            }

            .short-info-about-aim {
                font-size: 20px;
                padding-top: 26px;
                padding-bottom: 26px;
            }
        }
    }

    footer {
        .uswapp-footer {
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .uswapp-about-us {
                margin-left: 10%;
                margin-right: 10%;

            }

            .uswapp-contact-us {
                width: max-content;
                padding-bottom: 5%;

                &-title {
                    gap: 6px;

                    span {
                        margin-top: 35%;
                    }
                }

                .contact-btns {

                    .wp-contact-btn {
                        font-size: 15px;

                        a {
                            svg {
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }

                    .dc-contact-btn {
                        font-size: 15px;

                        a {
                            svg {
                                width: 1.5rem;
                                height: 1.5rem;
                            }
                        }
                    }
                }
            }

            .uswapp-live-support {

                &-title {
                    gap: 7px;

                    span {
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }

            .uswapp-social-media {

                h4 {
                    margin-bottom: 25px;
                }
            }

            .uswapp-mobile-apps {

                &-title {
                    gap: 8px;

                    span {
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }

                .app-store {
                    width: 120px;
                }

                .google-play-store {
                    width: 120px;
                }

                .app-gallery-huawei {
                    width: 120px;
                }
            }

            .uswapp-help {
                margin-left: 10%;
            }
        }

        .uswapp-privacy {
            padding-top: 8px;
            height: 55px;

            .all-rights {
                font-size: 14px;
            }

            .privacy-policy {
                margin-top: 8px;
                font-size: 14px;
            }
        }
    }

    .login-and-signup-container {
        .entries-project-logo {
            top: 25%;
            left: 10%;

            img {
                width: 225px;
                height: 275px;
            }
        }

        .entries-container {
            left: 55%;

            .login-container {
                .tab {
                    color: rgba(200, 200, 200);
                }
            }

            .login-form {
                .group {
                    color: rgba(200, 200, 200);

                    .input-log-sign {
                        padding: 12px 17px;
                    }

                    label {
                        .check-icon {
                            background: rgba(255, 255, 255, 0.4);
                        }
                    }
                }

                .login-btn {
                    padding: 12px 17px;
                }
            }

            .signup-container {
                .signup-form {
                    .group {
                        color: rgba(200, 200, 200);

                        .input-log-sign {
                            padding: 12px 17px;
                        }
                    }

                    .signup-btn {
                        padding: 12px 17px;
                    }

                    .already-member {
                        margin-left: 35px;
                    }
                }
            }

            .hr {
                margin: 25px 0 0 1.5rem;
                background-color: rgba(185, 185, 185);
            }
        }
    }

    section {
        .product-add-container {

            .product-add-title {
                font-size: 28px;
            }

            .product {
                grid-template-columns: repeat(2, 1fr);
                margin-left: 3rem;

                div {
                    label {
                        margin-bottom: 14px;
                    }

                    select {
                        font-size: 16px;
                        padding: 10px 10px;
                    }

                    textarea {
                        margin-bottom: 0;
                    }
                }
            }

            .add {
                gap: 1rem;

                &-photo-btn {
                    height: 2.5rem;
                    padding: 15px;
                    font-size: 20px;

                    .camera-icon {
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }

                &-product-btn {
                    padding: 15px 25px;
                    margin-top: 0.5rem;
                    font-size: 20px;
                    font-weight: 600;
                    gap: 0.5rem;
                }
            }
        }
    }

    section {
        .user-profile {
            margin-top: 10%;

            &-detail {
                p {
                    >span {
                        font-size: 22px;
                    }

                    >span+span {
                        font-size: 19px;
                        letter-spacing: 0.5px;
                    }
                }
            }
        }
    }
}